.breadcrumb {
	height: 3.646vw;
	border-bottom: 1px solid #b5b2b2;
	font-size: .938vw;
	padding: 0 18.75vw;
	display: flex;
	align-items: center;
}

#overview {
	margin: 0 18.75vw;
	margin-bottom: 2.604vw;
	border: 1px solid #b5b2b2;
	padding: 3.125vw 3.646vw;
}
.leftimgg{
	/* background: #348e42; */
	    width: 2.448vw;
	    height: 2.448vw;
	    text-align: center;
	    margin-right: 2.083vw;
}
.titleview{
	display: flex;
	    align-items: center;
	    font-size: 1.25vw;
	    color: #348e42;
	    border-bottom: 1px solid #eaeaea;
	    padding: 0.781vw 0;
	    margin-bottom: 0.521vw;
}